{% extends 'base.html' %}
{% load static %}
{% block title %}sculpture{% endblock %}

{% block content %}
<div class="sculpture">
    <h2>Sculpture</h2>
</div>
<section>
    <div class="card">
    <img src="{% static 's_transedence.jpg' %}">
    <div class="container">
    <h4>Name</h4><p>Toye Ayomide</p>
    <h4>Title</h4><p>Transcendence</p>
    <h4>Medium</h4><p>Metal nut, metal plate</p>
</div>
</div>
</section>
<section>
    <div class="card">
    <img src="{% static 's_metalic.jpg' %}">
    <div class="container">
    <h4>Name</h4><p>Akanbi Damola Joshua</p>
    <h4>Title</h4><p>ORI(head)</p>
    <h4>Medium</h4><p>scrap metal</p>
    </div>
</div>
</section>
<section>
    <div class="card">
    <img src="{% static 's_clay.jpeg' %}">
    <div class="container">
    <h4>Name</h4><p>Joseph Opeyemi Adegbenjo</p>
    <h4>Title</h4><p>Beautiful</p>
    <h4>Medium</h4><p>clay</p>
    <h4>Year</h4><p>2022</p>
</div>
</div>
</section>
<section>
    <div class="card">
    <img src="{% static 's_hammer.jpg' %}">
    <div class="container">
    <h4>Name</h4><p>olamide abraham</p>
    <h4>Title</h4><p>Stone breaker</p>
    <h4>Medium</h4><p>Junk metal</p>
</div>
</div>
</section>
<section>
    <div class="card">
    <img src="{% static 's_wood.jpeg' %}">
    <div class="container">
    <h4>Name</h4><p>Akanbi Damola j</p>
    <h4>Title</h4><p>A tale of two couples and their unborn children</p>
    <h4>Medium</h4><p>wood fastener and chains</p>
</div>
</div>
</section>
<section>
    <div class="card">
    <img src="{% static 's_ariya.jpeg' %}">
    <div class="container"
    <h4>Name</h4><p>Isaac Oluwaseyi Ajani</p>
    <h4>Title</h4><p>Ariya</p>
    <h4>Year</h4><p>2021</p>
</div>
</div>
</section>
{% endblock %}